.form {
  display: flex;
  flex-direction: column;
  height: 150px;
  color: white;
  font-size: 13px;
  padding: 10px 20px;
  background-color: rgb(56, 56, 56);
  justify-content: center;
  box-shadow: 3px 3px 10px -4px peru;
  border-radius: 5px;
}

.formItem {
  display: flex;
  flex-direction: column;
}

.formInput {
  padding: 3px 2px;
  margin-bottom: 10px;
}

.formBtn {
  background-color: peru;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 11px;
  width: 45%;
  margin: 0 auto;
}
