.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  background-color: peru;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 11px;
  margin-right: 10px;
}
