.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-right: 12px;
}

.username {
  font-weight: 700;
  color: white;
}

.button {
  background-color: peru;
  border: none;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
}
